
#shub_column_account{
    width:187px;
}
#shub_column_product{
    width:100px;
}
#shub_column_time{
    width:80px;
}
#shub_column_from{
    width:60px;
}
#shub_column_action{
    width:150px;
}
.sent_messages #shub_column_action,
.sent_message #shub_column_action{
    width:90px;
}
.sent_messages #shub_column_links,
.sent_message #shub_column_links{
    width:90px;
}
.sent_messages #shub_column_post,
.sent_message #shub_column_post{
    width:120px;
}

.shub_friendly_icon{
    max-height: 20px;
    width: auto;
    vertical-align: middle;
    padding: 0 7px 0 0;
}
.shub_from_holder{
    overflow: hidden;
}
.shub_from_holder:hover .shub_from_full{
    display: block;
}
.shub_from_full:hover{
    display: block;

}
.shub_from_full{
    margin: -1px 0 0 -5px;
    position: absolute;
    display: none;
    background: #FFF;
    border: 1px solid #ddd;
    padding: 0 4px 4px 4px;
}
.shub_from_picture{
    height:27px;
    width: auto;
    margin: 5px 1px 0 0;
}
#support_hub_compose_table{
    border-spacing: 0;
}
#support_hub_compose_table .shub_space{
    width:5px;
}
#support_hub_compose_table thead th.shub_column{
    background-color: #f1f1f1;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}
#support_hub_compose_table thead th.shub_column.last{
    border-right: 1px solid #dfdfdf;
}
#support_hub_compose_table tbody td.shub_column{
    background-color: #f9f9f9;
    border-left: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    vertical-align: top;
}
#support_hub_compose_table tbody td.shub_column.last{
    border-right: 1px solid #dfdfdf;
}
#support_hub_compose_table tbody th.shub_compose_label{
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    vertical-align: top;
    font-weight: normal;
    text-align: left;
}
#support_hub_compose_table tbody th.shub_compose_label > span{
    display: block;
    padding: 0 0 5px;
    font-weight: bold;
    text-align: center;
}
#support_hub_compose_table tbody th.shub_compose_label.last{
    border-bottom: 1px solid #dfdfdf;
}
#support_hub_compose_table td,
#support_hub_compose_table th{
    padding: 5px 8px 8px;
}
#support_hub_compose_table textarea{
    width:100%;
    min-width: 150px;
}

#simple_inbox-search-product,
.shub_product_dropdown{
    max-width: 180px;
}

.message_sidebar{
    float:left;
    width:190px;
    padding: 10px 10px 0 0;
    position: absolute;
}
.message_sidebar header{
    padding: 0 0 10px 0;
}
.message_request_extra,
.message_content{
    margin-left: 200px;
}
.message_request_extra{
    display: none;
    border-left: 1px solid #d0d4e4;
    min-height: 500px;
    padding: 20px;
}
.shub_message{
    border-bottom: 1px solid #d0d4e4;
    border-left: 1px solid #d0d4e4;
    border-top: 1px solid #d0d4e4;
    border-right: 1px solid #d0d4e4;
    padding: 5px 0 0 5px;
    margin-top: -1px;
}
.shub_message_private{
    background: #fffbc6;
}
.shub_message_replies{
    margin-left: 40px;
}
.shub_message_account_icon{
    height:27px;
    width: auto;
    margin: 5px 5px 0 0;
}

.shub_message_reply_box{
    display: none;
}
.shub_message_reply_box_level1{
    display: block;
}

.shub_message_body{
    margin-left: 40px;
}
.shub_message_title{
    font-weight: bold;
    padding: 10px 0 0 0;
}
.shub_message_picture{
    float: left;
    width: 35px;
    margin: 0 5px 0 0;
}
.shub_message_picture img{
    max-width: 100%;
    height: auto;
}
.shub_message_header{
    /*display: inline;
    float: left;*/
    padding: 0 5px 0 0;
    font-weight: bold;
}
.shub_message_header span{
    font-weight: normal;
    color:#CCC;
}
.shub_message_actions{
    clear: both;
    font-size: 0.9em;
    margin-left: 40px;
    padding: 0 0 5px 0;
}
.shub_message_reply{
    margin-left: 40px;
}
.shub_message_reply button{
    float: left;
    height:2em;
    border:1px solid #bdc7d8;
    margin:0 0 0 5px;
}

.shub_message_reply textarea{
    float: left;
    background: #FFF;
    border:1px solid #bdc7d8;
    width:88%;
    min-height:2em;
    resize: none;
}
#TB_ajaxContent{
    padding-top:0;
}