
#shub_column_account{
    width:187px;
}
#shub_column_product{
    width:100px;
}
#shub_column_time{
    width:80px;
}
#shub_column_from{
    width:60px;
}
#shub_column_action{
    width:150px;
}
.sent_messages #shub_column_action,
.sent_message #shub_column_action{
    width:90px;
}
.sent_messages #shub_column_links,
.sent_message #shub_column_links{
    width:90px;
}
.sent_messages #shub_column_post,
.sent_message #shub_column_post{
    width:120px;
}

.shub_friendly_icon{
    max-height: 20px;
    width: auto;
    vertical-align: middle;
    padding: 0 7px 0 0;
}
.shub_from_holder{
    overflow: hidden;
}
.shub_from_holder:hover .shub_from_full{
    display: block;
}
.shub_from_full:hover{
    display: block;

}
.shub_from_full{
    margin: -1px 0 0 -5px;
    position: absolute;
    display: none;
    background: #FFF;
    border: 1px solid #ddd;
    padding: 0 4px 4px 4px;
}
.shub_from_picture{
    height:27px;
    width: auto;
    margin: 5px 1px 0 0;
}
#support_hub_compose_table{
    border-spacing: 0;
}
#support_hub_compose_table .shub_space{
    width:5px;
}
#support_hub_compose_table thead th.shub_column{
    background-color: #f1f1f1;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}
#support_hub_compose_table thead th.shub_column.last{
    border-right: 1px solid #dfdfdf;
}
#support_hub_compose_table tbody td.shub_column{
    background-color: #f9f9f9;
    border-left: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    vertical-align: top;
}
#support_hub_compose_table tbody td.shub_column.last{
    border-right: 1px solid #dfdfdf;
}
#support_hub_compose_table tbody th.shub_compose_label{
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    vertical-align: top;
    font-weight: normal;
    text-align: left;
}
#support_hub_compose_table tbody th.shub_compose_label > span{
    display: block;
    padding: 0 0 5px;
    font-weight: bold;
    text-align: center;
}
#support_hub_compose_table tbody th.shub_compose_label.last{
    border-bottom: 1px solid #dfdfdf;
}
#support_hub_compose_table td,
#support_hub_compose_table th{
    padding: 5px 8px 8px;
}
#support_hub_compose_table textarea{
    width:100%;
    min-width: 150px;
}

#simple_inbox-search-product,
.shub_product_dropdown{
    max-width: 180px;
}

.message_sidebar{
    float:left;
    width:190px;
    padding: 10px 10px 0 0;
}
.message_sidebar nav{
    display: none;
}
.message_sidebar header{
    padding: 0 0 10px 0;
}
.message_content{
    margin-left: 200px;
    padding: 10px 0;
}
.message_request_extra{
    display: none;
    border: 1px solid #d0d4e4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 20px;
    background: #FFF;
    position: absolute;
    top:20px;
    left: 370px;
}
.shub_message_primary{
    background-color: #f5f5f5;
    border-radius: 4px 4px 0 0;
    padding: 10px;
    margin-bottom: 1px;
}
.shub_message_reply{
    background-color: #e5e5e5;
    margin-bottom: 1px;
    padding: 10px;
}
.shub_message_reply.outbox_queued{
    background-color: #CFB;
}
.shub_message_reply.outbox_failed{
    background-color: #F99;
}
.shub_message_reply_box {
    border-radius: 0 0 4px 4px;
}
.shub_message_private{
    background: #fffbc6;
}
.shub_message_replies{
}
.shub_message_account_icon{
    height:27px;
    width: auto;
    margin: 5px 5px 0 0;
}

.shub_message_body{
    margin-left: 40px;
    overflow: auto;
}
.shub_message_title{
    font-weight: bold;
    padding: 10px 0 0 0;
}
.shub_message_picture{
    float: left;
    width: 35px;
    margin: 0 5px 0 0;
}
.shub_message_picture img{
    max-width: 100%;
    height: auto;
}
.shub_message_header{
    /*display: inline;
    float: left;*/
    padding: 0 5px 0 0;
    font-weight: bold;
    margin-left: 40px;
}
.shub_message_header span{
    font-weight: normal;
    color:#999;
}
.shub_message_actions{
    font-size: 0.9em;
    margin-left: 40px;
    padding: 0 0 5px 0;
}
.shub_message_reply_box button{
    float: right;
    clear:right;
    height:2em;
    border:1px solid #bdc7d8;
    margin:5px 0 0 0;
}

.shub_message_reply_box textarea{
    float: left;
    background: #FFF;
    border:1px solid #bdc7d8;
    width:100%;
    min-height:2em;
    resize: vertical;
}
#TB_ajaxContent{
    padding-top:0;
}

tr.log_error{
    background: #FBFF66 !important;
}
.shub_table_inline {
    margin: 20px 0;
    padding: 20px;
    background: #FFF;
    border-radius: 10px;
}
@media (min-width: 961px) {
    .shub_table_inline {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media (min-width: 1300px) {
    .shub_table_inline {
        width: 66%;
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media screen and (max-width: 782px){

    .message_sidebar{
        float: none;
        width: auto;
        padding: 10px;
        background-color: #e5e5e5;
        margin: 10px 10px 0;
        border-radius: 4px 4px 0 0;
    }
    .shub_message_primary{
        border-radius: 0;
    }
    .message_content{
        margin-left: 0;
    }
    .message_request_extra{
        left:40px;
    }
    .message_sidebar nav{
        display: block;
    }
    .message_sidebar nav:after{
        content: "";
        display: block;
        clear: both;
    }
    #shub_search_form .tablenav.top{
        display: none;
    }
    .message_sidebar header,
    .message_sidebar aside{
        display: none;
    }
    .message_content{
        padding: 0 10px 10px;
    }
    .shub_message_actions,
    .shub_message_body{
        clear: left;
        margin-left: 0px;
    }
}
.shub_network_message_action{
    display: none;
}
.shub_network_message_action .action_content{
    padding: 5px;
    text-align: center;
    background: #FFFBCD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.shub_table_inline .shub_network_message_action:after{
    content: "";
    display: block;
    margin-bottom: 5px;
    padding-top: 5px;
    clear: both;
}
.shub_table_inline .shub_network_message:after{
    border-bottom: 1px solid #d4d4d4;
    content: "";
    display: block;
    margin-bottom: 20px;
    padding-top: 20px;
    clear: both;
}
.shub_table_inline .primary_comment {
    background-color: #f5f5f5;
}

.message_edit_form{
    position: relative;
}
.message_edit_form a{
    text-decoration: none;
}
.message_edit_form > .message_replies{
    margin-left: 0;
    border-left: none;
}
.tablenav_display_type{
    padding: 3px !important;

}
.shub_other_messages{
    max-height: 300px;
    overflow-y: auto;
}